/*body {
	background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1231&q=80');
	background-size: contain;
}
*/

#about-body {
	padding-top: 82px;
	font-family: 'Nunito', sans-serif;
}

.jumbotron {
    background-image: linear-gradient(to right, #66ffff 0%, #ccf3ff 100%);
}

#paw {
    height: 250px;
    transition: all 1.5s;
    opacity: .0;
}

h2 {
	font-size: 40px;
	font-weight: bold;
	}

h3 {
	margin-left: -10px;
	padding-left: 10px;
	font-weight: bold; 
	position: relative;
}

img {
    height: 250px;
}

.jumbotron p, .jumbotron h2, .jumbotron hr{
    opacity: .0;
    transition: all 1.5s; 
}

.background {
	position: absolute;
	left: 206.3%;
	height: 35px;
	/*width: 199%;*/
	width: 79vw;
	background-color: #ebebe0;	
	transition: all 1.4s;
}