body {
	padding-top: 82px;  /* stops navbar from blocking body content */  
	font-family: 'Nunito', sans-serif;
}

.jumbotron {
    background-image: linear-gradient(to right, #66ffff 0%, #ccf3ff 100%);
}

#paw {
    height: 250px;
    transition: all 1.5s;
    opacity: .0;  /* initial transparency for JS animation effect */
}

h2 {
	font-size: 40px;
	font-weight: bold;
}

.jumbotron + h2 {
	text-align: center;
}

h3 {
	margin-left: -10px;
	padding-left: 10px;
	font-weight: bold; 
	position: relative;  /* prevents .background from covering h3 text */ 
}

img {
    height: 250px;
}

.jumbotron p, .jumbotron h2, .jumbotron hr{
    opacity: .0;  /* initial transparency for JS animation effect */
    transition: all 1.5s; 
}

.background {
	position: absolute;
	left: 206.3%;  /* initial position to support JS animation effect behind all h3's */
	height: 35px;
	width: 79vw;
	background-color: #ebebe0;	
	transition: all 1.4s;
}
