/*body {
	background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1231&q=80');
	background-size: contain;
}
*/

#about-body {
	padding-top: 85px;
}

#caption {
	padding: 30px;
	background-color: #e9f3fb;
	height: 50px;
	width: 100%;
	padding-top: 0;
	padding-bottom: 90px;
	font-size: 25px;
	text-align: center;
	font-family: 'Oleo Script', cursive;
}

.wrapper {
	width: 50%;
	margin: 0 auto;
}

.wrapper-nav {
	width: 65%;
	margin: 0 auto;
}

.wrapper-mission {
	width: 50%;
	margin: 0 auto;	
}

#about-h2 {
	font-size: 80px;
}

#mission-div {
	margin-top: 20px;
}

#mission-text {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
}

#russel {
	padding-top: 50px;
}

#russel-pic {
	height: 400px;
	margin-left: 10%;
}

#russel-div {
	width: 45%;
	height: 500px;
	float: right;
	text-align: center;
	padding-right: 140px;
}

#russel-text {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	margin: 0 auto;
}

#kelly {
	padding-top: 100px;
}

#kelly-pic {
	height: 400px;
	margin-left: 5%;
}

#kelly-div {
	width: 45%;
	height: 500px;
	float: left;
	text-align: center;
	padding-left: 170px;
}

#kelly-text {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	margin: 0 auto;
}

#max {
	padding-top: 100px;
}

#max-pic {
	height: 400px;
	margin-left: 10%;
}

#max-div {
	width: 45%;
	height: 500px;
	float: right;
	text-align: center;
	padding-right: 140px;
}

#max-text {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	margin: 0 auto;
}

footer {
	margin-top: 100px;
	background-color: #e9f3fb
}

#socialmedia { 
	content-align: center;
	text-align:center;
}

.facebook {
	height: 50px; 
	width: 50px; 
}

.instagram {
	height: 50px; 
	width: 50px;
}