body {
	padding-top: 150px;  /* prevents navbar from blocking body content */
	font-family: 'Nunito', sans-serif;
}

.container img {
	width: 100%;  /* adjusts image to fit container */
	height: 100%;
}

h2 {
	text-align: center;
	font-size: 40px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 55%;
}

form button {
	width: 100%;
}

footer {
	margin-top: 17em;  //pushes footer down
}

@media only screen and (max-width: 1024px) {	
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	body {
		padding-top: 100px;  /* prevents navbar from blocking body content */
	}	

	form {
		margin-top: 25px;
	}

	footer {
		position: relative;
		bottom: 0;
	}
}

