@media only screen and (min-width: 768px) {

	.wrapper {
		text-align: center;
		width: 50%;
		margin: 0 auto;
		min-height: 100%;
		position: relative;
	}

	.contact-wrapper {
		width: 70%;
		margin: 0 auto;
	}

	#contact-body {
		padding-top: 150px;
	}

	#contact-dog {
		width: 43%;
		margin-left: 5%;
		margin-top: 2.5%
	}

	hr {
	    border: 0;
	    height: 0;
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	    width: 55%;
	}

	form {
		float: right;
		width: 40%;
		margin-right: 5%;
	}

	footer {
		background-color: #e9f3fb;
		width: 100%;
		float: right;
		height: 3em;
		margin-top: 12.5em;
	}

	#socialmedia { 
		content-align: center;
		text-align:center;
	}

	.facebook {
		height: 50px; 
		width: 50px; 
	}

	.instagram {
		height: 50px; 
		width: 50px;
	}
}

@media only screen and (max-width: 1300px) {
	#contact-dog {
		width: 90%;
		margin-left: 5%;
	}
	form {
		margin-top: 15px;
		float: right;
		width: 90%;
	}

}

@media only screen and (max-width: 768px) {
	body {
		margin-top: 100px;
	}

	h2 {
		text-align: center;
		margin: 0 auto;
	}

	form {
		margin-top: 15px;
		width: 90%;
		margin-right: 5%;
	}

	footer {
			background-color: #e9f3fb;
			width: 100%;
			float: right;
			height: 3em;
			margin-top: 2.5em;
		}
}