@charset "UTF-8";
/* CSS Document */

/*
body {
	margin: 0;
}

#consistent {
	margin-left:auto;
    margin-right:auto;
    width:960px;
}
*/

@media only screen  and (min-width : 1824px) {

	#foodPhotos {
		width:70%;
		margin: 0 auto;
	}
	
	iframe {
		margin-top: 5%;
		margin-left: 10px;
	}
	
	#location-div {
		background-color: #f2f2f2;
		float: right;
		padding-bottom: 30px;
		margin-top: 100px;
	}

	#location-info-div {
		float: right; 
		width: 23%;
		margin-right: 10%;
		margin-top: 5%;	
		text-align: left;
	}
}

@media only screen and (min-width: 1224px) {    /*Desktop*/
	body {
		font-family: 'Nunito', sans-serif;
	}

	.wrapper {
		width: 75%;
		margin: 0 auto;
	}

	#image-slides {
		margin-left: 4.5%;
	}

	.foodImg {
		height: 240px;
		width: 98%;
	}

	#caption {
		padding: 30px;
		background-color: #e9f3fb;
		height: 50px;
		width: 100%;
		padding-top: 0;
		padding-bottom: 100px;
		text-align: center;
		font-family: 'Oleo Script', cursive;
	}

	#intro-text {
		font-size: 20px;
	}

	.carousel {
		max-height: 800px;
		overflow: hidden;
	}

	.carousel-dog {
		margin-top: -15%;
	}

	#dog {
		height: 650px;
	}

	.carousel-interior {
		margin-top: -15%;
	}

	.carousel-interior-2 {
		margin-top: -15%;
	}
	
	.foodImg {
		float: left;
		width: 31%;
		margin: .7%;
	}

	#intro-h2 {	
		font-size: 80px;
		font-family: 'Oleo Script', cursive;
	}

	#location-div {
		background-color: #f2f2f2;
		float: right;
		padding-bottom: 30px;
		margin-top: 100px;
	}

	#location-info-div {
		float: right; 
		width: 23%;
		margin-right: 10%;
		margin-top: 5%;	
		text-align: left;
	}

	iframe {
		margin-top: 5%;
		margin-left: 10px;
	}

	footer {
		clear: both;
		background-color: #e9f3fb;
	}

	#socialmedia { 
		content-align: center;
		text-align:center;}

	.facebook {
		height: 50px; 
		width: 50px; 
	}

	.instagram {
		height: 50px; 
		width: 50px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {   /*Tablet*/
	#caption {
		padding: 30px;
		background-color: #e9f3fb;
		height: 50px;
		width: 100%;
		padding-top: 0;
		padding-bottom: 100px;
		text-align: center;
		font-family: 'Oleo Script', cursive;
	}

	#intro-h2 {	
		font-size: 80px;
		font-family: 'Oleo Script', cursive;
	}

	iframe {
		margin: 5% auto auto 1%;
	}

/*	#location-div {
		background-color: #f2f2f2;
		float: right;
		padding-bottom: 30px;
		margin-top: 100px;
	}

	#location-info-div {
		width: 100%;
		margin-right: 10%;
		margin-top: 5%;	
		text-align: center;
	}*/
}
