body {
	background-image: url('https://images.unsplash.com/photo-1492892132812-a00a8b245c45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
	background-size: cover;
	background-repeat: none;
	font-family: 'Nunito', sans-serif;
}

.wrapper {
	width: 65%;
	margin: 0 auto;
}

#menu-body{
	padding-top: 130px;
}

#menu {
	margin: 0 auto;
	text-align: center;
}

footer {
	margin-top: 100px;
	background-color: #e9f3fb
}

#socialmedia { 
	content-align: center;
	text-align:center;
}

.facebook {
	height: 50px; 
	width: 50px; 
}

.instagram {
	height: 50px; 
	width: 50px;
}