@charset "UTF-8";
/* CSS Document */

#background {
	background: url("background2.jpg");
	background-size: cover;		/*fit to background-size*/ 
	background-position: center;
	height: 900px;
	background-position: 0 -3900px;
	border-bottom-right-radius: 50% 1.7%;
  	border-bottom-left-radius: 50% 1.7%;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

#logo {
	align-content: center; 
	padding-left: 40px; 
	height: 150px;
	width: 210px;
	margin-left: -30px;
	padding-top: 10px;

}

#site-logo {
	margin-left: 30px;
}

#navigation {
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	z-index: 9;
}

nav { 
	text-align: center; 
	position: absolute; 
	display: inline-block; 
	font-size: 22px; 
	height: 130px;
	font-family: 'Merriweather Sans', sans-serif;
	z-index: 1;
}

.nav-link {
	/*color: #9ac8ed !important;*/
	padding-right: 80px !important;
	cursor: pointer;
}

.nav-link:hover {
	font-size: 1.2em;
	transition: all .3s;
}

#image-slides {
	margin-left: 4.5%;
}

.foodImg {
	height: 240px;
	width: 98%;
}

.row {     /*food images*/
	margin-top: 2%;
}

#caption {
	background-color: #f4f4f4;
	border: 2px black solid;
	height: 150px;
	width: 65%;
	margin: 60px auto;
}

#food {
	border: 2px black solid;
	height: 1000px;
	width: 98%;
	margin: 1% auto 0 auto;
	text-align: center;
}