@charset "UTF-8";
/* CSS Document */

/*#background {
	background: url("../../1.jpg");
	background-size: cover;		
	background-position: center;
	height: 900px;
	background-position: 0 -3900px;
	border-bottom-right-radius: 50% 1.7%;
  	border-bottom-left-radius: 50% 1.7%;
}*/
body {
	font-family: 'Nunito', sans-serif;
}

.wrapper {
	width: 65%;
	margin: 0 auto;
}

#logo {
	align-content: center; 
	padding-left: 40px; 
	height: 150px;
	width: 210px;
	margin-left: -30px;
	padding-top: 10px;
	transition: all .6s; 
}

.logo-change {
	padding: 30px 20px 20px 60px !important;
}

#navigation {
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	transition: all .6s;
	z-index: 9;
	background-color: black;
}

#site-logo {
	margin-left: 30px;
}

nav { 
	text-align: center; 
	position: absolute; 
	display: inline-block; 
	font-size: 25px; 
	height: 130px;
	font-weight: bold;
	transition: all .6s;
}

.nav-link {
/*	padding-right: 0px !important;*/
	cursor: pointer;
	margin-right: 90px;
	transition: all .3s;
}

.expand:hover {
	font-size: 1.2em;
	transition: all .3s;
}

/*#item-border {
	border: 3px #9ac8ed solid;
	width: 180px;
	height: 50px;
	position: absolute;
	left: 82.5%;
	border-radius: 5%;
	transition: all .3s;
}*/

#item-border:hover {
	width: 200px;
	height: 60px;
	/*left: 81.5%;*/\
	bottom: 29%;
	transition: all .3s;
}

#image-slides {
	margin-left: 4.5%;
}

.foodImg {
	height: 240px;
	width: 98%;
}

#caption {
	background-color: #f4f4f4;
	height: 150px;
	width: 100%;
	margin: 20px auto 0 auto;
	font-size: 25px;
	text-align: center;
}

/*.fotorama {
	position: relative;
	top: -140px;
}*/

.carousel {
	max-height: 900px;
	overflow: hidden;
}

.carousel-dog {
	margin-top: -4%;
}

.carousel-interior {
	margin-top: -15%;
}

.foodImg {
	float: left;
	width: 31%;
	margin: .7%;
}

#intro-h2 {
	font-weight: bold;
	font-size: 40px;
}

#location-info-div {
	float: right; 
	width: 20%;
	margin-right: 10%;
}

#location-info-div {
	margin-top: 5%;	
	text-align: left;
}

iframe {
	margin-top: 5%;
	margin-left: 1%;
}

footer {
	clear: both;
}

#socialmedia { 
	content-align: center;
	text-align:center;}

.facebook {
	height: 50px; 
	width: 50px; 
}

.instagram {
	height: 50px; 
	width: 50px;
}

