body {
	padding-top: 82px;  /* stops navbar from blocking body content */  
	font-family: 'Nunito', sans-serif;
}

.jumbotron {
    background-image: linear-gradient(to right, #66ffff 0%, #ccf3ff 100%);
}

#paw {
    height: 250px;
    transition: all 1.5s;
    opacity: .0;  /* initial transparency for JS animation effect */
    border: 2px black solid; 
    border-radius: 50%; 
    padding: 30px;
}

h2 {
	font-size: 40px;
	font-weight: bold;
}

.jumbotron + h2 {
	text-align: center;
}

h3 {
	margin-left: -10px;
	padding-left: 10px;
	font-weight: bold; 
	position: relative;  /* prevents .background from covering h3 text */ 
}

img {
    height: 300px;
}

#max {
	height: 240px;
	width: 86%;
}

.jumbotron p, .jumbotron h2, .jumbotron hr {
    opacity: .0;  /* initial transparency for JS animation effect */
    transition: all 1.5s; 
    text-align: right;
}

.background {
	position: absolute;
	left: 100%;  /* initial position for JS animation effect behind all h3's */
	padding: 12px 0 22px 0;
	width: 100%;
	background-color: #ebebe0;	
	transition: all 1.4s;
}

@media only screen and (max-width: 1024px) {
	img {
	    height: 215px;
	}
}

@media only screen and (max-width: 768px) {
	img {
	    height: 215px;
	}
}

@media only screen and (max-width: 415px) {
	.col-md-6 {
		text-align: center; /* center paw on mission banner */ 
	}

	h2 {
		margin-top: 2%;
		text-align: center;
	}

	h3 {
		text-align: center;
	}

	.jumbotron p, .jumbotron h2, .jumbotron hr {
	    text-align: center;
	}

	.jumbotron {
	  margin-top: -10px;  /* align jumbotron with navbar */
	}			
}