body {
	background-image: url('https://images.unsplash.com/photo-1492892132812-a00a8b245c45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
	background-size: cover;
	background-repeat: none;
	font-family: 'Nunito', sans-serif;
	padding-top: 130px;
	text-align: center;
}

nav + img {
	width: 40%;
}

@media only screen and (max-width: 1024px) {
	body {
		background-size: contain;  /* adjust background for smaller screens */
	}

	nav + img {
  		width: 80%;  /* adjust menu size for smaller screens */ 
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}