/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/

.red {
	background-color: red !important;
}

.navbar-brand {
	position: relative;
	margin-top: -43px;
	left: 100px;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar .navbar-collapse {
  text-align: center;
}

#logo {
	align-content: center; 
	height: 110px;
	width: 200px;
	margin-left: -30px;
	padding-top: 10px;
}

.nav-link {
	cursor: pointer;
	font-size: 20px; 
	transition: all .3s;
}

.get-started {
	border: 2px #9ac8ed solid;  /* border around 'get started' navbar item */
	padding: 5px 30px 5px 27px !important;
	border-radius: 10%;
}

@media only screen and (max-width: 1159px) {
	.get-started {
		border: none; /* removes border for hamburger menu */	
	}
}

@media only screen and (max-width: 1024px) {
	.fixed-top {
		position: absolute;
	}

	#logo {									/*re-position logo*/
	    margin-left: -100px !important;  
	}
}

@media only screen and (max-width: 415px) {
	#logo {                                 /*re-position logo*/
	    align-content: center !important;
	    height: 80px !important;
	    width: 110px !important;
	    margin: 10px 0 10px -100px !important;
	    padding-top: 25px !important;
	}

	.navbar-nav .nav-link {
	    margin-left: 20%;
	}
}

/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/

/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/

footer {
	clear: both;
	background-color: #e9f3fb;
}

#socialmedia { 
	content-align: center;
	text-align:center;}

.facebook {
	height: 50px; 
	width: 50px; 
}

.instagram {
	height: 50px; 
	width: 50px;
}

@media only screen and (max-width: 1024px) {
    .col-lg-4 {
      filter: grayscale(0%);  /* removes grayscale on smaller devices */
    }                           
}

/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/

