@charset "UTF-8";
/* CSS Document */

body {
  	padding-top: 82px;  /* prevents navbar from blocking body content */
  	font-family: 'Nunito', sans-serif;
}

.dogphoto {
	 width: 100%;   /* fits images within bootstrap grids */
	 height: 100%; /* fits images within bootstrap grids */
	 padding-bottom: 20px;
}

.col-lg-4 {
	 filter: grayscale(100%);  /* grey images */
   transition: 1s;
}

.col-lg-4:hover { 
	 filter: grayscale(0%);  /* colored images on hover */ 
}

.overlay {  /* to show text on image hover */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    cursor: default;
}

.col-lg-4:hover .overlay {  /* to show text on image hover */
    opacity: 1;
}

.text {  /* to show text on image hover */
    color: white;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  	padding-bottom: 20px; 
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

/*footer {
  margin-top: 5em;
}*/

@media only screen and (max-width: 1024px) {
    .col-lg-4 {
      filter: grayscale(0%);  /* removes grayscale on smaller devices */
    } 
    
    footer {
      margin-top: 21.3em;
    }                                 
}

@media only screen and (max-width: 768px) {
    .col-lg-4 {
      filter: grayscale(0%);  /* removes grayscale on smaller devices */
    } 
    
    footer {
      margin-top: 5em;
    }                                 
}

@media only screen and (max-width: 415px) {

    h2 {
        margin-top: 2%;
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .jumbotron p, .jumbotron h2, .jumbotron hr {  /* centers content on photos.html banner */ 
        text-align: center;
    }

    .jumbotron {
        margin-top: -10px;  /* align jumbotron with navbar */
        text-align: center;  /* centers paw on photos.html banner */ 
    }
}