@charset "UTF-8";
/* CSS Document */

body {
	padding-top: 150px;  /* prevents navbar from blocking body content */
}

.container img {
	width: 100%;  /* adjusts image to fit container */
	height: 100%;
}

h2 {
	font-size: 40px;
}

p {
	margin-left: 20%; 
	margin-right: 20%; 
}

.check { 
	display: block;
	margin-left: auto; 
	margin-right: auto; 
	height: 100px; 
	width: 100px; 
}

.container {  
	border: 2px solid #BBBBBB;
	border-radius: 5px; 
	padding-bottom: 20px; 
	 
}

footer {
	margin-top: 27em;
}

@media only screen and (max-width: 1024px) {	
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	form {
		margin-top: 25px;
	}

	footer {
		margin-top: 22.3em;
		position: relative;
	}
}	

@media only screen and (max-width: 415px) {
	footer {
		margin-top: 9.3em;
	}
}	